@page "/view-asset/{Id:int}"
@using AssetManagement.Client.Client;
@using AssetManagement.Client.Pages.AppPages.Assets.Component
@using AssetManagement.Client.Shared.Popup
@using AssetManagement.Dto.Models
@inject AppClient client
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div>
    <div class="card">
        <div class="card-header bg-secondary text-center">
            @Title
        </div>
        <div class="card-body">
            @if (model == null)
            {
                <div class="loader-container mt-4">
                    <div class="loader"></div>
                </div>

            }
            else
            {
                <EditForm Model="@model">
                    <br />
                    <form class="row g-2">

                        <div class="col-md-6">
                            <label for="companyName">Company Code : @model.CompanyCode </label>
                        </div>
                        <div class="col-md-6">
                            <label for="status">Asset Type : @model.AssetType </label>
                        </div>
                        <div class="col-md-6">
                            <label for="assetmake">Make : @model.Brand</label>
                        </div>
                        <div class="col-md-6">
                            <label for="assetmodel">Model : @model.Model</label>
                        </div>


                        <div class="col-md-6">
                            <label for="sn">Serial Number : @model.SerialNumber</label>
                        </div>

                        <div class="col-md-6">
                            <label for="mac">Mac Address : @model.MacAddress</label>
                        </div>


                        <hr style="color:orange" />
                        <div class="col-12">
                            <label for="description">Description : @model.Description</label>
                        </div>
                        <hr style="color:orange" />


                        <div class="col-md-6">
                            <label for="acqdate">Acquire Date : @model.AcquireDate</label>
                        </div>
                        <div class="col-md-6">
                            <label for="vendor">Vendor Name: @model.VendorName</label>
                        </div>


                        <div class="col-md-6">
                            <label for="allstatus">Allocation Status: @model.Status</label>
                        </div>
                        <div class="col-md-6">
                            <label for="discdate">Dicard Date: @model.DiscardDate </label>
                        </div>

                        <hr style="color:orange" />

                        <div style="text-align:center;" class="mt-4">
                            <button type="button" class="btn btn-danger col-md-2" @onclick="OnClose">Close</button>
                            @*<button type="buton" class="btn btn-info col-md-2" @onclick="Print">Print</button>*@
                        </div>
                    </form>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    Asset model = new();
    public string Title = "Asset Details";

    protected override async Task OnInitializedAsync()
    {
        model = await client.GetAssetById(Id);
    }
    public void OnClose()
    {
        NavigationManager.NavigateTo("/assets");
    }
    public void Print()
    {

    }
}
